@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Droid Sans Mono", monaco, "courier new", courier, monospaced;
  font-size: 16px;
  line-height: 1.6em;
  color: #555555;
  background-color: #ffd7f3; }
  body a:link, body a:visited, body a:active {
    color: #790056;
    text-decoration: none; }
  body a:hover {
    color: #ff79d8;
    text-decoration: none; }

#header {
  text-align: center;
  padding: 10px 5%; }
  #header ul.menu {
    margin-top: 30px; }
    #header ul.menu li {
      display: inline;
      padding: 10px; }

#wrapper {
  background-color: #ffd7f3;
  padding: 10px 5%; }
  #wrapper article {
    margin-top: 30px;
    padding: 6px 15px 25px;
    background-color: #ffe9f9;
    overflow: hidden; }
    #wrapper article p, #wrapper article ul, #wrapper article ol {
      margin: 1.2em 0; }
    #wrapper article ul {
      list-style: square inside;
      padding-left: 1em; }
    #wrapper article ol {
      list-style: decimal inside;
      padding-left: 1em; }
    #wrapper article header {
      font-size: 1.7em;
      line-height: 1.7em; }
      #wrapper article header h1 {
        text-align: center;
        margin-bottom: 1em; }
    #wrapper article.excerpt {
      position: relative;
      min-height: 90px; }
    #wrapper article time.stamp {
      width: 60px;
      position: absolute;
      top: 15px;
      padding: 6px 6px 12px;
      background-color: #ffd7f3;
      text-align: center;
      display: block;
      font-size: 2em;
      line-height: 2em; }
      #wrapper article time.stamp div.month {
        line-height: 0.6em;
        font-size: 0.6em; }
    #wrapper article div.preview {
      margin-left: 87px; }
    #wrapper article p.tags {
      margin-top: 1em; }
    #wrapper article span.tag {
      padding: 0px 6px;
      background-color: #ffd7f3;
      border-bottom: 1px solid #790056; }
    #wrapper article .syntaxhighlighter td.gutter {
      text-align: right;
      color: #bbbbbb; }
    #wrapper article .syntaxhighlighter td.code .line {
      padding-left: 25px; }
      #wrapper article .syntaxhighlighter td.code .line.alt1 {
        background-color: #ffeefa; }
      #wrapper article .syntaxhighlighter td.code .line.alt2 {
        background-color: #fff3fc; }
      #wrapper article .syntaxhighlighter td.code .line .comments {
        color: #ff79d8; }
      #wrapper article .syntaxhighlighter td.code .line .string, #wrapper article .syntaxhighlighter td.code .line .keyword {
        color: #790056; }
    #wrapper article .syntaxhighlighter td.code .line:hover {
      background-color: #ffd7f3; }
    #wrapper article .syntaxhighlighter .toolbar {
      display: none; }

#footer {
  margin-top: 30px;
  text-align: center; }
