@import "reset.scss";
@import url('http://fonts.googleapis.com/css?family=Droid+Sans+Mono');
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);

$green: #DEFFCE;
$fucsia: #FF79D8;
$fucsia_dark: darken($fucsia, 50%);
$pink: #FFD7F3;
$pink_light: #FFE9F9;
$inner_padding: 10px 5%;
$timestamp_width: 60px;
$text_color: #555;

/* Use like selector { @include border-radius(10px); } */
@mixin border-radius($radius: 1px) {
      -webkit-border-radius: $radius;
         -moz-border-radius: $radius;
              border-radius: $radius;
}

body {
  font-family: "PT Sans Caption", "Ubuntu", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: $text_color;
  background-color: $pink;

  a:link, a:visited, a:active {
    color: $fucsia_dark;
    text-decoration: none;
  }  

  a:hover {
    color: $fucsia;
    text-decoration: none;
  }
}

pre, code {
  font-family: "Droid Sans Mono", monaco, "courier new", courier, monospaced;
}

code {
  background-color: $pink;
  padding: 0 5px;
}

#header {
  text-align: center;
  padding: $inner_padding;
  
  ul.menu {
    margin-top: 30px;
    li {
      display: inline;
      padding: 10px;
    }
  }
}

#wrapper {
  background-color: $pink;
  padding: $inner_padding;
  
  article {
    @include border-radius(10px);
    margin-top: 30px;
    padding: 6px 15px 25px;
    background-color: $pink_light;
    overflow: hidden;
    
    p, ul, ol {
    	margin: 1.2em 0;
    }
    
    ul {
    	list-style: square inside;
    	padding-left: 1em;
    }
    
    ol {
    	list-style: decimal inside;
    	padding-left: 1em;
    }
    
    header {
      font-size: 1.7em;
      line-height: 1.7em;
      h1 {
	      text-align: center;
  	    margin-bottom: 1em;
  	  }
    }
   
    &.excerpt {
       position: relative;
       min-height: 90px;
    }    

    time.stamp {
      width: $timestamp_width;
      position: absolute;
      top: 15px;
      padding: 6px 6px 12px;
      color: $pink;
      border-bottom: 4px solid darken($fucsia_dark, 10%);
      @include border-radius(6px);
      background-color: $fucsia_dark;
      text-align: center;
      display: block;
      font-size: 2em;
      line-height: 2em;
      div.month {
        line-height: 0.6em;
        font-size: 0.6em;
      }
    }
    
    div.preview {
      margin-left: $timestamp_width + 12px + 25px;
    }
    
    p.tags {
      margin-top: 1em;
    }

    span.tag {
      padding: 0px 6px;
      background-color: $pink;
      border-bottom: 1px solid $fucsia_dark;
    }
    
    .syntaxhighlighter {
    
    	table {
    		width: 100%
    	}
    
    	td.gutter {
    		text-align: right;
    		color: lighten($text_color, 40%);
    		width: 40px;
    	}
    	
    	code {
    		background-color: transparent;
    	
    	}
    	
    	td.code {
    		.line {
	    		padding-left: 25px;
	    		&.alt1 {background-color: lighten($pink_light, 1%);}
    			&.alt2 {background-color: lighten($pink_light, 2%);}
    			.comments{color: $fucsia;}
    			.string, .keyword{color: $fucsia_dark}
    			height: 1.6em;
	    	}
	    	.line:hover {
    			background-color: $pink;
    		}
    		
    	}
    	
    	.toolbar { display: none;}
    }
  }
}

#footer {
  margin-top: 30px;
  text-align: center;
}
